/*Tulisan ngarang indah*/
.container-indah {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    /* width: 75%; */
  }
  
  table.ngarang {
    width: 100%;
    text-align: left;
    color: white;
    font-weight: 600;
    border-collapse: collapse;
    border-radius: 10px;
    background: linear-gradient(0deg,#403303,#403303);
    box-shadow: rgba(234, 168, 0, 0.35) 0px 5px 15px;

}
  
  table.ngarang tr {
    border-radius: 10px;
    padding: 5px;

  }
  
  table.ngarang td, table.ngarang th {
    padding: 10px 5px 10px;
    border-collapse: collapse;
    border-bottom: 1px solid #675612;
    padding: 15px 0;

    
  }
  
  table.ngarang th {
    text-align: center;
    font-weight: lighter;
    border-radius: 10px;
    padding: 5px;

  }
  
  table.ngarang tbody td {
    color: #bfbfbf;
  }

  @media screen and (min-width: 800px){

    .container-indah {
      width: 65%;
    }
  }